# .env.example
VITE_SUPABASE_URL=https://benwwffceoyptlksuhkv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlbnd3ZmZjZW95cHRsa3N1aGt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMDMyMjEsImV4cCI6MjA5ODU3OTIyMX0.GUTc4VnguG0UAhBiVtk0r-YvTUT10w1JK7zGvqPEy00

# Cloudinary Config
VITE_CLOUDINARY_CLOUD_NAME=dkvdbgijn
VITE_CLOUDINARY_UPLOAD_PRESET=college-predict
VITE_CLOUDINARY_API_KEY=219113756412981

# SMTP Email Config
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM="College Predict <noreply@example.com>"
