# .env.example
TURSO_DATABASE_URL=libsql://kcet-college-nanoneptune.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODcwMzA4NTUsImlkIjoiMDFhMDEzNTYtNzcwMS03YjAwLTlkZGQtOTI4NWIwYTVhNjQ3Iiwia2lkIjoiQWFWV1dzQ242YzROdllQYzV1bkl1YzREOVU3NG9sSHA4NG5tdnVibDE2OCIsInJpZCI6ImU4NmY1NDljLTEyODMtNDBhNC05ODE1LTRjN2ZjODUyZmYyYSJ9.bXDEtae6g789GmJ2AIIrP7b-RNnoyxN9YzUjA8MHV0IJ8VRnzqvtMJHiWegsWGj1w8NTABkQTfzfbw-sEbF8CQ

# Cloudinary Config
VITE_CLOUDINARY_CLOUD_NAME=dkvdbgijn
VITE_CLOUDINARY_UPLOAD_PRESET=college-predict
VITE_CLOUDINARY_API_KEY=219113756412981

# Groq API Config
GROQ_API_KEY=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
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM="College Predict <noreply@example.com>"
